<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MicroBuild" version="1.0.0-alpha-g0ef5d1a2cc" targetFramework="net46" userInstalled="true" />
  <package id="MicroBuild.NonShipping" version="1.0.0-alpha-g0ef5d1a2cc" targetFramework="net46" userInstalled="true" />
  <package id="MicroBuild.Teams.Project" version="1.0.0-alpha-g0ef5d1a2cc" targetFramework="net46" userInstalled="true" />
  <package id="MicroBuild.VisualStudio" version="1.0.0-alpha-g0ef5d1a2cc" targetFramework="net46" userInstalled="true" />
  <package id="Nerdbank.GitVersioning" version="1.0.15136-beta" targetFramework="net46" userInstalled="true" />
  <package id="StyleCop.Analyzers" version="1.0.0-alpha-g7231c28eeb" targetFramework="net46" userInstalled="true" />
  <package id="xunit" version="2.0.0" targetFramework="net46" userInstalled="true" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net46" userInstalled="true" />
  <package id="xunit.assert" version="2.0.0" targetFramework="net46" userInstalled="true" />
  <package id="xunit.core" version="2.0.0" targetFramework="net46" userInstalled="true" />
  <package id="xunit.extensibility.core" version="2.0.0" targetFramework="net46" userInstalled="true" />
  <package id="xunit.runner.visualstudio" version="2.0.0" targetFramework="net46" userInstalled="true" />
</packages>